/* Portfolio.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
  background-color: #fff;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.isotope-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.portfolio-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 300px; /* Maximum width of images */
  max-height: 200px; /* Maximum height of images */
}

.portfolio-content img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Cover the area while maintaining aspect ratio */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
